* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, serif;
}

header {
    background-color: #1f2937;
}

.hero {
    background-color: #1f2937;
    padding-top: 80px;
    padding-bottom: 120px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.nav-link {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-image {
    width: 550px;
    height: 300px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin: 0;
    padding-top: 25px;
}

.hero-desc {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 35px;
}

.blue-button {
    background-color: #3882f6;
    border: 0;
    color: #fff;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 7px;
}

.hero-text {
    width: 450px;
    margin-right: 40px;
    flex-shrink: 0;
}